/* Below code prevents the UI Clustering issues on smaller screens */

body {
    min-height: 820px;
    min-width: 900px;
}

.container {
    width: max-content;
    height: max-content;
}

.body-bg {
    background: url("images/itachiImg1.png"), linear-gradient(45deg, black, darkslategrey);
    background-repeat: no-repeat;
    /* background-position: 70%; */
    /* Instead keep the background position to bottom, as bg image looks cropped on big screen */
    background-position: bottom right 30%;
}

.heading-text-style {
    font-size: xx-large;
}

.fit-image {
    max-height: 50%;
}

img {
    max-height: 200;
    max-width: 300;
}

.heading {
    height: 100px;
}

body {
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */

    margin: 20px;
}

.hideScroll::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}